<div class="container pb-3 link">
  <div class="row">
    <div class="col-12">
      <a routerLink="/list-items">На головну</a>
      <span>/</span>
        <a routerLink="/articles">Назад</a>
    </div>
  </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
      <h3>Алое вера</h3>
      <div class="col-12 d-flex justify-content-center">
        <img src="../../assets/images/Aloe.jpg" class="img-fluid">
      </div>
      <div class="col-12 col-xl-9 col-lg-9 col-md-9 mt-5">
        <p>Сік алое вера — дуже корисний засіб на кожен день. Який зміцнить імунітет і приведе організм в тонус. Сьогодні
          розповімо про його лікувальне застосування, рецепти та користь. Алое вера — унікальна рослина. Ії лікувальні
          властивості з розробкою нових рецептів знаходять відображення навіть в позбавленні від найнесподіваніших
          захворювань. Для волосся, обличчя, тіла, внутрішніх органів — сік алое показаний до застосування. Сік алое вера
          добувається з м’якуша самої рослини. Яка сьогодні популярна в народній і в традиційній медицині. Варто
          зазначити, що сік алое збирається для різних цілей. Від виробництва власного соку з невеликим додаванням спирту
          до виготовлення препаратів. Така сильна зацікавленість цією рослиною підвищила попит не лише на фармацевтичні
          препарати. Але і на іншу продукцію, у складі якої є алое. Лікування соком алое вера частенько перевершує усі
          очікування. А його регулярне використання зовсім може усунути недугу.
        </p>
      </div>
      <div class="col-12 col-xl-9 col-lg-9 col-md-9 mt-4">
        <p><b>Алое вера — лікувальне застосування</b> Сік алое має не лише бактерицидні властивості, він корисний також
          для загального зміцнення організму. Але крім прискорення процесу регенерації, алое вера рекомендують до
          застосування під час лікування багатьох захворювань. А саме: кишкові інфекції; шкірні захворювання; панкреатит;
          кон’юнктивіт; короткозорість; розлад нервової системи; діабет; астма; герпес; атеросклероз; пухлини; бронхіт;
          грибок; екзема; сердечна слабкість; застуда і багато що інше.</p>
      </div>
      <div class="col-12 col-xl-9 col-lg-9 col-md-9 mt-4">
        <p>Свою ефективність в лікуванні сік алое отримав завдяки наявності в листі корисних речовин. Так, сік алое вера,
          можна використати як у всередину, так і зовнішньо: ефірні олії; саліцилова кислота; різні мінерали; вітаміни;
          амінокислота; ферменти й так далі. Такий великий склад компонентів припускає не менше способів прийняття алое.
        </p>
      </div>
      <div class="col-12 col-xl-9 col-lg-9 col-md-9 mt-4">
        <p>Для шлунку буде на користь свіжий сік алое. Який покращує обмін речовин і завдяки виведенню токсинів з
          організму м’яко очищає шлунково-кишковий тракт. За допомогою невеликих примочок з алое можна лікувати гнійні
          рани й деякі інфекційні захворювання шкіри. </p>
      </div>
      <div class="col-12 mt-4 d-flex justify-content-center">
        <img src="../../assets/images/Aloe-2.jpg" class="img-fluid">
      </div>
      <div class="col-12 col-xl-9 col-lg-9 col-md-9 mt-4">
        <p>Таким чином, спрямованість дії алое багатогранна, а метою використання стають: дезінфекція; видалення з
          організму токсинів в короткі терміни; поліпшення обмінного процесу; зміцнення імунітету; антибактеріальна дія;
          нейтралізація шкідливих речовин; поліпшення розумової та фізичної працездатності; очищення крові; терапія раку і
          далі.
          До протипоказань прийняття препаратів з алое вера відносять: індивідуальна непереносність — алергія; період
          вагітності або грудного вигодовування (рекомендується консультація з лікарем); кровотечі, не пов’язані з
          менструацією у жінок.
        </p>
      </div>
      <div class="col-12 col-xl-9 col-lg-9 col-md-9 mt-4">
          <b>Користь алое при гінекологічних проблемах</b>
        </div>
        <div class="col-12 col-xl-9 col-lg-9 col-md-9 mt-3">
          <p>Ще одним важливим застосуванням алое є використання цієї рослини при жіночих захворюваннях. Внутрішнє лікування соком алое допомагає при ерозії шийки матки. А емульсія з соком алое допомагає вагітним очистити ШКТ.
              Таким чином, сік алое вера — це користь в чистому вигляді. Його лікувальне застосування дає можливість позбутися від багатьох болячок. А рецепти народної медицини перевірили їх часом і своїм безцінним досвідом.
              </p>
        </div>
    </div>
  </div>
  