<div class="about-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 main-content">
        <div class="heading-prod">
          <a routerLink="/list-items">Головна</a>
          <h3>Про компанію</h3>
        </div>
      </div>
    </div>
  </div>

  <h1>Про компанію</h1>
  
  <div class="container about-container">
    <div class="row">
      <div class="col-12 about-col">
        <p>Компанія "Еберс" заснована в 2018 році. Молода та амбіційна компанія,яка займається виключно
          фармацевтичними, косметичними та товарами медичного презначення.<br>
          В основі принципу роботи компанії якість та ефективність товару. Постійне вдосконалення діючих
          рецептур, розробка нових рецептур, реєстрація, стандартизація, виробництво та реалізація. Діючі
          речовини в препаратах виготовляються з високоякісної сировини. Країни походження сировини
          Україна, Німеччина, Франція та Корея.<br> В наявності сертифікати якості від виробника
          зареєстрованого Українським законодавством. Компанія «Еберс» співпрацює з оптовими
          фармацевтичними компаніями та аптечними мережами України.
          Якісні препарати - швидкий крок для забезпечення та профілактики здоров’я. А здоров’я - це одна
          з найважливіших цінностей людини.<br>
          Здоров’я - наш особливий напрямок в роботі.</p>
      </div>
    </div>
  </div>
</div>
