<div class="container">
  <div class="row">
    <div class="col-sm-12 main-content">
      <div class="heading-prod">
        <a routerLink="/list-items">Головна</a>
        <h3>Зв’язатися з нами</h3>
      </div>
    </div>
  </div>
</div>

<h1>Контакти</h1>

<div class="mail-container">
  <img src="../../assets/images/mail.svg" class="img-fluid mail-img" alt="">
  <p>Напишіть нам на нашу електронну адресу: <a href="mailto:pharm.ebers@gmail.com">pharm.ebers@gmail.com</a></p>
</div>

<div class="before-form-wrap">
  <h1>Заповніть форму</h1>
  <p>І ми зв’яжемось з Вами</p>
</div>

<div class="container pt-3 pb-3 mt-4 mb-4 form-container">
  <div class="row">
    <div class="col-12">
      <!-- Default form login -->
      <form class="text-center border border-light p-5" action="#!" [formGroup]="userForm" (submit)="onSubmit()" class="mail-form" method="get">

        <!-- Name -->
        <div class="md-form input-with-pre-icon">
          <input formControlName="name" type="text" id="prefixInside" class="form-control mb-4" placeholder="Ім'я*" required minlength="4">
        </div>

        <!-- Phone -->
        <input formControlName="phone" type="text" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Телефон*" required>

        <!-- Textarea -->

        <div class="md-form">
          <textarea placeholder="Повідомлення" id="textarea-char-counter" class="form-control md-textarea mb-4" length="120"
            rows="3"></textarea>
        </div>
        <!-- Err message -->
        <div class="col-md-12 d-flex justify-content-center"><p class="errorMessage" style="color:red" *ngIf="!userForm.valid">Заповніть усі необхідні поля ↑</p></div>
        <!-- Sign in button -->
        <button [disabled]="!userForm.valid" class="btn btn-info btn-block my-4" type="submit">Відправити</button>
      </form>
    </div>
  </div>
</div>
