
<div class="container">
  <div class="row">
    <div class="col-sm-12 main-content">
      <div class="heading-prod">
        <a routerLink="/list-items">Головна</a>
        <h3>Зв’язатися з нами</h3>
      </div>
    </div>
  </div>
</div>

<h1>Контакти</h1>

<div class="mail-container">
  <img src="../../assets/images/mail.svg" class="img-fluid mail-img" alt="">
  <p>Напишіть нам на нашу електронну адресу: <a href="mailto:pharm.ebers@gmail.com">pharm.ebers@gmail.com</a></p>
</div>

<div class="before-form-wrap">
  <h1>Заповніть форму</h1>
  <p>І ми зв’яжемось з Вами</p>
</div>

<div class="container pt-3 pb-3 mt-4 mb-4 form-container">
  <div class="row">
    <div class="col-12">
      <!-- Default form login -->
      <form class="text-center border border-light p-5" action="#!" [formGroup]="userForm" (submit)="onSubmit()" class="mail-form" method="get">

        <!-- Name -->
        <div class="md-form input-with-pre-icon">
          <input formControlName="name" type="text" id="prefixInside" class="form-control mb-4" placeholder="Ім'я*" required minlength="3">
        </div>

        <!-- Phone -->
        <input formControlName="phone" type="text" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Телефон*" required>

        <!-- Textarea -->

        <div class="md-form">
          <textarea placeholder="Повідомлення" id="textarea-char-counter" class="form-control md-textarea mb-4" length="120"
            rows="3"></textarea>
        </div>
        <!-- Err message -->
        <div class="col-md-12 d-flex justify-content-center"><p class="errorMessage" style="color:red" *ngIf="!userForm.valid">Заповніть усі необхідні поля ↑</p></div>
        <!-- Sign in button -->
        <button [disabled]="!userForm.valid" class="btn btn-info btn-block my-4" type="submit">Відправити</button>
      </form>
    </div>
  </div>
</div>

<div class="call-container">
  <div (click)="open(content)" class="button_cont"><a class="call-button">Замовити дзвінок</a></div>
</div>

<!-- Button trigger modal -->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Замовити дзвінок</h4>
    <button type="button" class="close-button" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="modalForm">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Ім'я</span>
        </div>
        <input class="modal-name" formControlName="modalName" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Телефон</span>
        </div>
        <input class="modal-phone" formControlName="modalPhone" autocomplete="tel" type="tel"  name="telphone" placeholder="888 888 8888" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" maxlength="10"  title="Ten digits code" required/>
        <small>Формат: (097) 111 22 33</small> 
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="col-md-12 d-flex justify-content-center"><p class="errorMessage" style="color:red" *ngIf="!modalForm.valid">Заповніть обов'язкові поля ↑</p></div>
    <button [disabled]="!modalForm.valid" type="submit" value="Submit" class="btn btn-outline-dark modal-btn">Відправити</button>
  </div>
</ng-template>