
<div class="container-delivery">
    <div class="delivery-links">
        <a routerLink="/list-items">Головна</a>
        <p>Доставка і Оплата від Магазину Ебрес</p>
        <hr>
    </div>
  <h4>Доставка</h4>
  <p>1. Відправлення здійснюється послугами Нової пошти в робочі години, замовлення можна
    оформити цілодобово. Після заявки менеджер опрацює замовлення, та зателефонує Вам для
    підтвердження.</p>
  <p>
    2. Вартість доставки відповідно до тарифів Нової пошти. За посиланням можете дізнатися
    орієнтовну вартість доставки відправлення <a target="_blank"
      href="https://novaposhta.ua/delivery">https://novaposhta.ua/delivery</a>
  </p>

  <h4>Отримання товару</h4>

  <p>1. Ви можете заказати товар на зручне для вас відділення Нової Пошти. Перелік відділень можете
    знайти за посиланням <a target="_blank" href="https://novaposhta.ua/office">https://novaposhta.ua/office</a>
  </p>

  <h4>Оплата замовлення</h4>
  <p>1. Оплатити вартість замовлення можна двома способами:</p>
  <p>1.1 Ви можете зробити переказ на карту через платіжні сервіси. Цей спосіб дешевше та
    зручніше. Актуальні реквізити повідомить менеджер.</p>
  <p class="left">1.2 Або післяоплатою. Цей спосіб дорожче і відповідає тарифам Нової пошти (20 грн + 2% від вартості товару).
  </p>

  <h4>Важливо</h4>
  <p>1. Вартість товару актуальна тільки при бронюванні через наш сайт. Ціни в аптеках можуть відрізнятися від ціни,
    яка відображена на сайті.</p>
  <p>2. Препарат є повністю заброньованим тільки після спілкування з менеджером в телефонному режимі.</p>
</div>
