<div class="container">
  <div class="row">
    <div class="col-sm-12 main-content">
      <div class="heading-prod">
        <a routerLink="/list-items">Головна</a>
        <a class="slash" routerLink="/products">Дивитися все</a>
        <h3>Нормера</h3>
      </div>
    </div>
  </div>
</div>

<div class="line"></div>
<div class="container pt-2" *ngFor="let product of products; let i=index;">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-xl-5 col-lg-5 d-flex align-items-center">
      <img *ngIf="product.id==2" [src]="product.imageUrl" class="img-fluid">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-xl-7 col-lg-7 d-flex flex-column" *ngIf="product.id==2">
      <p>Засіб Нормера використовується за рекомендацією лікаря як
        профілактично-гігієнічний засіб при геморої, тріщинах заднього проходу, проктитах, сігмоідіти, криптитах,
        фісурах, періанальних фістулах, додатково очищає кишечник від слизу і калу, нейтралізує кишкові гнильні
        токсини, оновлює слизову оболонку шлунково-кишкового тракту при запальних і ерозивних процесах,
        порушеннях цілісності і захворюваннях шкірних покривів анального отвору, в тому числі тріщини та запальні
        процеси, гострі та хронічні екземи анального отвору. Може використовуватись при хронiчних простатитах.
      </p>
      <div class="row">
        <div class="col-12">
          <table>
            <tr>
              <td class=dots>
                <span class=content>Бренд:</span>
              </td>
              <td>
                <span class=content><a routerLink="/products">Еберс</a></span>
              </td>
            </tr>
            <tr>
              <td class=dots>
                <span class=content>Доступно:</span>
              </td>
              <td>
                <span class=content>Є в наявності</span>
              </td>
            </tr>
            <tr>
              <td class=dots>
                <span class=content>Кількість в упаковці:</span>
              </td>
              <td>
                <span class=content>5 засобів по 2 блістери у пачці</span>
              </td>
            </tr>
            <tr>
              <td class=dots>
                <span class=content>Упаковка на:</span>
              </td>
              <td>
                <span class=content>Не менше 15 діб</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="price-container">
        <p *ngIf="product.id==2">Вартість: <span class="price-big">{{ product.price }} грн.</span></p>
        <span class="text-success"><i class="fas fa-check"></i>Є в наявності</span>
      </div>
      <button *ngIf="product.id==2" mat-button color="primary" class="buy-button"
        (click)="cartService.addToCart(product)">До кошика</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Нормера (Normera)</h1>
      <h6>Склад:</h6>
      <p>1 засіб профілактично-гігієнічний у вигляді конусу містить: Діючі речовини: екстракт Дуба 100 мг,
        екстракт Каштану – 50мг , екстракт Звіробою – 35мг, екстракт Обліпихи – 100 мг , екстракт Алоє Віра – 60мг.
        Допоміжні речовини : Полiетиленглiколь 400, Полiетиленглiколь 1500</p>
      <h6>Форма:</h6>
      <p>Засоби профілактично-гігієнічні у вигляді конусу</p>
      <h6>Властивості:</h6>
      <p>Нормера - засіб профілактично-гігієнічний, має антиоксидантну, імуномоделюючу, в&#39;яжучу,
        протизапальну, ранозагоювальну, регенеруючу, бактерицидну, білевгамовуючу, спазмолітичну, кровоспинну.</p>
      <h6>Рекомендації до застосування:</h6>
      <p>Засіб Нормера використовується за рекомендацією лікаря як
        профілактично-гігієнічний засіб при геморої, тріщинах заднього проходу, проктитах, сігмоідіти, криптитах,
        фісурах, періанальних фістулах, додатково очищає кишечник від слизу і калу, нейтралізує кишкові гнильні
        токсини, оновлює слизову оболонку шлунково-кишкового тракту при запальних і ерозивних процесах,
        порушеннях цілісності і захворюваннях шкірних покривів анального отвору, в тому числі тріщини та запальні
        процеси, гострі та хронічні екземи анального отвору. Може використовуватись при хронiчних простатитах.</p>
      <h6>Дуб</h6>
      <p>Комплекс біологічно активних речовин кори дуба має обволікаючу, в&#39;язку, імуностимулюючу, антацидну,
        протизапальну та протимікробну дію. Дія головним чином обумовлена наявністю дубильних речовин, які
        взаємодіють з білками, утворюючи захисну плівку, яка захищає тканини від місцевого подразнення. Дубильні
        речовини денатурують протоплазматичні білки патогенних мікроорганізмів, перешкоджаючи їх розвитку.</p>
      <h6>Каштан</h6>
      <p>Лікувальна дія екстракту каштану пов&#39;язана з наявністю в ньому флавоноїдів ескуліну і сапонінів
        есцину. Ескулін зменшує проникність капілярів, стимулює антитромботичну активність сироватки крові,
        збільшує вироблення антитромбіну в ретикулоендотеліальної системі судин, посилює кровонаповнення вен,
        особливо якщо в них є патологічні зміни.</p>
      <h6>Звіробій</h6>
      <p>Має протизапальну, антисептичну, в&#39;яжучу, спазмолітичну дії, стимулює регенерацію тканин. Має
        загальнозміцнюючі і кровоспинні властивості.</p>
      <h6>Обліпиха</h6>
      <p>Обліпиха володіє багатьма лікувальними властивостями: адаптогенними, антиоксидантними,
        бактерицидними, болезаспокійливими, протизапальними та епітелізуючими. Препарати на основі обліпихи
        знищують хвороботворні бактерії. Обліпиха покращує стан хворих на рак, які проходять хіміотерапію,
        покращує регенерацію тканин після операцій, знижує кров&#39;яний тиск, тонізує і покращує кровообіг, а також
        оздоровлює шкіру, допомагає позбутися від шкідливих речовин, відновлює сили після тривалої хвороби,
        підвищує опірність організму. Оксикумарини обліпихи попереджають утворення тромбів, а кумарини і
        флавоноїди мають протипухлинну активність. Масло обліпихи захищає біологічні мембрани від шкідливої ​​дії
        хімічних агентів, має виражену протимікробну властивість, сприяє прискоренню загоєння виразок, ран, ерозій,
        а також надає стимулюючу дію при лікуванні трофічних і променевих ушкоджень, сприяє регенерації клітин
        шкіри і регулює процес оновлення клітин шкіри, заспокоює біль.</p>
      <h6>Алое Сік</h6>
      <p>Має бактерицидну і бактеріостатичну дію відносно багатьох груп мікробів: стрептококів, стафілококів,
        дифтерійної, черевно-тифозної і дизентерійної паличок. Алое має потужні ранозагоювальні властивості,
        виводить радіонукліди, підвищує імунореактівні здатності і захисні сили організму в боротьбі з інфекційними
        захворюваннями, а також є чудовим біостимулятором, сприяючи оздоровленню організму в цілому.</p>
      <h6>Спосіб застосування та рекомендована добова доза:</h6>
      <p>Використовується за рекомендацією лікаря.
        Використовувати 1-2 раз на добу. Вводити в анальний отвір, в положенні лежачи на спині. Тривалість
        використання індивідуальна, не менше 10-15 діб.</p>
      <h6>Протипоказання:</h6>
      <p>Індивідуальна підвищена чутливість до компонентів засобу.</p>
      <h6>Термін придатності:</h6>
      <p>2 роки. Не застосовувати після закінчення терміну придатності. Номером
        серії вважати дату виробництва.</p>
      <h6>Умови зберігання:</h6>
      <p>Зберігати у не доступному для дітей місці в оригінальній упаковці при температурі не вище 25 °С.</p>
      <h6>Упаковка:</h6>
      <p>По 5 профілактично-гігієнічних засобів у блістері, по 2 блістери у пачці. Лист - вкладиш</p>
      <h6>Категорія відпуску:</h6>
      <p>Без рецепта.</p>
      <h6>Виробник:</h6>
      <p>ПП «Еберс», Україна, м. Харків, пров. Іванівський 5, корп. Г-2</p>
      <h6>Інформація про реєстрацію:</h6>
      <p>Висновок державної санітарно-епідеміологічної експертизи № 602-
        123-20-1/6087 від 25.03.2019 р (UA)</p>
    </div>
  </div>
</div>
