<div class="container">
  <div class="row">
    <div class="col-sm-12 main-content">
      <div class="heading-prod">
        <a routerLink="/list-items">Головна</a>
        <a class="slash" routerLink="/products">Дивитися все</a>
        <h3>Регексін</h3>
      </div>
    </div>
  </div>
</div>

<div class="line"></div>
<div class="container pt-2" *ngFor="let product of products; let i=index;">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-xl-5 col-lg-5 d-flex align-items-center">
      <img *ngIf="product.id==3" [src]="product.imageUrl" class="img-fluid">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-xl-7 col-lg-7 d-flex flex-column" *ngIf="product.id==3">
      <p>Розчин хлоргексидину біглюконату чинить швидку та виражену дію на грампозитивні та
        грамнегативні бактерії, дріжджі та дерматофіти:Treponema pallidum,Chlamidia spp,Neisseria
        gonorrheae,Trichomonas vaginalis. Мало чутливі штами Pseudomonas spp.,Proteus spp.
        Нечутливі до засобу кислостійкі форми бактерій, спори бактерій, гриби, віруси.
      </p>
      <div class="row">
        <div class="col-12">
          <table>
            <tr>
              <td class=dots>
                <span class=content>Бренд:</span>
              </td>
              <td>
                <span class=content><a routerLink="/products">Еберс</a></span>
              </td>
            </tr>
            <tr>
              <td class=dots>
                <span class=content>Доступно:</span>
              </td>
              <td>
                <span class=content>Є в наявності</span>
              </td>
            </tr>
            <tr>
              <td class=dots>
                <span class=content>Кількість в упаковці:</span>
              </td>
              <td>
                <span class=content>5 засобів по 2 блістери у пачці</span>
              </td>
            </tr>
            <tr>
              <td class=dots>
                <span class=content>Упаковка на:</span>
              </td>
              <td>
                <span class=content>7 - 10 днів</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="price-container">
        <p *ngIf="product.id==3">Вартість: <span class="price-big">{{ product.price }} грн.</span></p>
        <span class="text-success"><i class="fas fa-check"></i>Є в наявності</span>
      </div>
      <button *ngIf="product.id==3" mat-button color="primary" class="buy-button"
        (click)="cartService.addToCart(product)">До кошика</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Регексін (Regexin)</h1>
      <h6>Склад:</h6>
      <p>Засіб профілактично-гігієнічний у вигляді конусу містить:
        Діючі речовини: розчин хлоргексидину біглюконату (Chlorhexidini bigluconas) 20%-13мг; олія Каріте
        (Vitellaria paradoxa) – 60мг, олія Алое Віра (Áloë véra) – 60 мг; вітамін Е (токоферол, tocopherol) –
        5мгДопоміжні речовини: Полiетиленглiколь 400, Полiетиленглiколь 1500.</p>
      <h6>Форма:</h6>
      <p>Засоби профілактично-гігієнічні у вигляді конусу</p>
      <h6>Властивості:</h6>
      <p>Розчин хлоргексидину біглюконату чинить швидку та виражену дію на грампозитивні та
        грамнегативні бактерії, дріжджі та дерматофіти:Treponema pallidum,Chlamidia spp,Neisseria
        gonorrheae,Trichomonas vaginalis. Мало чутливі штами Pseudomonas spp.,Proteus spp.
        Нечутливі до засобу кислостійкі форми бактерій, спори бактерій, гриби, віруси.
        Олія Алое Віра застосовується при різних запальних процесах жіночої статевої сфери, таких як
        ерозії, запалення придатків, кандидоз, порушення мікроорганізмів флори. Знімає подразнення,
        свербіж, набряклість, запалення і незагойний біль, протистоїть інфекції, пом&#39;якшує шкірний покрив,
        не робить дратівної дії на слизову і дає заспокійливий ефект при пошкодженні тканини. Алое Віра
        може ліквідувати повторювані запальні процеси піхви або допомогти при лікуванні захворювань,
        викликаних грибками і вірусами
        Каріте олія рекомендується для чутливої шкіри, яка схильна до дерматитів і алергічних реакцій,
        має властивість антиоксиданту і добре живить ослаблену шкіру та слизову, ефективно зволожує.
        Регексін при інтравагінальному застосуванні практично не всмоктується, системної дії не чинить.
        Вітамін Е (токоферол) жиророзчинна біологічно активна сполука що має антиоксидантні властивості.</p>
      <h6>Рекомендації до застосування:</h6>
      <p>Використовується за рекомендацією лікаря, може бути рекомендовано як профілактика генiтальних
        iнфекцiй та інфекційно-запальних ускладнень в акушерстві та гінекології ( перед оперативним
        лікуванням захворювань, перед пологами та абортом, до та після встановлення
        внутрішньоматкової спіралі, до та після діатермокоагуляції шийки матки, перед
        внутрішньоматковими дослідженнями). Вагінiт, кольпіт, псевдо ерозії.</p>
      <h6>Спосіб застосування та рекомендована добова доза:</h6>
      <p>Використовують за порадою лікаря. Засіб застосовують інтравагінально. Перед застосуванням
        засіб профілактично-гігієнічний у вигляді конусу звільняють від контурної упаковки.
        Застосовують по 1 фітоконусу 1-2 рази на добу протягом 7-10 днів. За необхідності можливе
        продовження курсу застосування до 20 днів.</p>
      <h6>Протипоказання:</h6>
      <p>Індивідуальна підвищена чутливість до компонентів засобу. Даних про
        використання вагітними немає. Використовувати за порадою лікаря.</p>
      <h6>Взаємодія з іншими засобами та інші види взаємодій:</h6>
      <p>Регексін не можна застосовувати разом з детергентами, які містять аніонну групу, а також з милом,
        тому перед застосуванням Регексіну залишки мила необхідно ретельно змити. Не рекомендується
        одночасне застосування з йодом.</p>
      <h6>Побічні рекації:</h6>
      <p>Можливі алергічні реакції, свербіж, печіння та подразнення у місці введення
        засобу.</p>
      <h6>Термін придатності:</h6>
      <p>2 роки. Не застосовувати після закінчення терміну придатності. Номером
        серії вважати дату виробництва.</p>
      <h6>Умови зберігання:</h6>
      <p>Зберігати у не доступному для дітей місці в оригінальній упаковці при температурі не вище 25 °С.</p>
      <h6>Упаковка:</h6>
      <p>По 5 профілактично-гігієнічних засобів у блістері, по 2 блістери у пачці. Лист - вкладиш</p>
      <h6>Категорія відпуску:</h6>
      <p>Без рецепта.</p>
      <h6>Виробник:</h6>
      <p>ПП «Еберс», Україна, м. Харків, пров. Іванівський 5, корп. Г-2</p>
      <h6>Інформація про реєстрацію:</h6>
      <p>Висновок державної санітарно-епідеміологічної експертизи № 602-
        123-20-1/6087 від 25.03.2019 р (UA)</p>
    </div>
  </div>
</div>
