<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">


<div class="top">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
        <nav class="nav">
          <ul class="nav-items">
            <li><a routerLink="/products">Продукція</a></li>
            <li><a routerLink="/about">Про компанію</a></li>
            <li><a routerLink="/contacts">Контакти</a></li>
            <li><a routerLink="/delivery">Доставка і оплата</a></li>
            <li><a routerLink="/">Статті та новини</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>



<div class="top-2">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 d-flex align-items-center justify-content-center">
        <a routerLink="/list-items">
          <div class="logo">
            <img src="../assets/images/logo.png" alt="" class="img-fluid">
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="header-text">
          <p>Інформаційна платформа компанії Еберс</p>
          <p>Якісні препарати - впевнений крок до здоров’я !</p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div class="header-phones">
          <img (click)="open(content)" src="../assets/images/phone.svg" class="img-fluid shaking-phone">
          <p>Замовити дзвінок</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Замовити дзвінок <i class="fas fa-mobile-alt"></i></h4>
    <button type="button" class="close-button" aria-label="Close" (click)="d('Cross click')">
      <span class="close-modal" aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="contact2-form validate-form">
      <div class="wrap-input2 validate-input">
        <input autocomplete="off" class="input2" type="text" name="name">
        <span class="focus-input2" data-placeholder="Ім'я"></span>
      </div>
      <div class="wrap-input2 validate-input">
        <input autocomplete="off" class="input2" pattern="[0-9]{10}" name="phone">
        <span class="focus-input2" data-placeholder="Телефон"></span>
      </div>
      <div class="modal-footer">
        <button type="submit" value="Submit" class="btn btn-outline-dark modal-btn">Відправити</button>
      </div>
    </form>
  </div>
 
</ng-template>

<div class="top-3">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <div class="basket-container">
          <a class="cart-link" routerLink="/cart-items">
            <span class="basket">Кошик :</span>
            <!-- <mat-icon class="cart-icon">shopping_basket</mat-icon><span
            class="quantity">({{ cartService.getTotalQuantity() }})</span> -->
            <img src="../assets/images/commerce.png" class="cart-icon"><span
              class="quantity">({{ cartService.getTotalQuantity() }})</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet (activate)="onActivate($event)"></router-outlet>

<footer>
  <div class="footer-left">
    <img src="../assets/images/maestro.png" alt="">
    <img src="../assets/images/master.png" alt="">
    <img src="../assets/images/visa.png" alt="">
  </div>
  <div class="footer-container">
    <img src="../assets/images/footer-logo.jpg" alt="Ebers-logo">
    <p>Компанія Еберс має надію, що інформація на сайті буде для вас корисною в прийнятті рішення у придбанні препаратів
      компанії. Мета нашої команди - це створення безпечних та ефективних препаратів для населення України. Всі
      препарати компанї Еберс ви можете знайти в аптеках вашого міста.
      Перед застосуванням проконсультуйтеся з лікарем. Самолікування може бути шкідливим для вашого
      здоров'я.<br><span>Бажаємо вам здоров'я!</span></p>
  </div>
</footer>
