<div class="container pb-3 link">
    <div class="row">
      <div class="col-12">
        <a routerLink="/list-items">На головну</a>
        <span>/</span>
        <a routerLink="/articles">Назад</a>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <h3>Амарант</h3>
    <div class="col-12 d-flex align-items-center justify-content-center">
      <img src="../../../assets/images/amaranth.jpg" class="img-fluid">
    </div>
    <div class="col-12 col-xl-9 col-lg-9 col-md-9 mt-5">
      <p>Амарант — (лат. Amaranthus) або щириця, більше відома як декоративну рослина,
        для благоустрою садів і присадибних ділянок. Його лікувальні властивості майже
        не відомі в нашій країні. Проте рослина має ряд цінних властивостей, які з успіхом
        застосовуються в медицині.
        Амарант є високорослою злаковою рослиною з однорічним періодом дозрівання в
        помірних широтах. Має прості або гіллясті стебла. Листя амаранта частіше
        яйцевидне, чергове. Квітки є колосовидною мітелкою. Після цвітіння утворюється
        плід — коробочка. Сама рослина має різноманітне забарвлення — від зеленої до
        пурпурно-червоної.
      </p>
    </div>
    <div class="col-12 col-xl-9 col-lg-9 col-md-9 mt-4">
      <p><b>Цінні речовини в складі і лікувальні властивості амаранта</b></p>
      <p>В першу чергу рослина має багатий вітамінний склад. Вона містить вітаміни групи
        В, бета-каротин (провітамін А), вітамін Е і С. До складу рослини входить  рідкісний
        вітамін В4 (холін) , що має важливе значення для нормальної роботи нервової
        системи.
        Багатий амарант і мінеральними речовинами. Його зерна характеризуються
        високим вмістом кальцію, калію, магнію, заліза, міді, селену, марганцю. Особливо
        високий вміст кремнію в суцвіттях рослини.
        Високий рівень білку в зернах амаранта (близько 21% залежності від сорту)
        обумовлює поживні властивості рослини. Особливістю амарантового білку є
        високий рівень лізину. Окрім білку амарант багатий жирними кислотами,
        крохмалем, флавоноїдами. Корисні властивості рослини обумовлені вмістом
        пектинових речовин.
        Амарант містить біологічно активну речовину — сквалеон. За своєю природою це
        вуглеводень, попереджуючий дефіцит кисню в клітинах організму, що бере участь
        у регенерації клітин. Речовина має сильні антиоксидантні властивості, бореться із
        старінням, вільними радикалами. Сквалеон амаранта має високі
        іммунопротекторні властивості.</p>
    </div>
    <div class="col-12 mt-4 d-flex align-items-center justify-content-center">
      <img src="../../../assets/images/amaranth-2.jpg" class="img-fluid">
    </div>
    <div class="col-12 col-xl-9 col-lg-9 col-md-9 mt-4">
      <p>Таким чином, спрямованість дії алое багатогранна, а метою використання стають: дезінфекція; видалення з
        організму токсинів в короткі терміни; поліпшення обмінного процесу; зміцнення імунітету; антибактеріальна дія;
        нейтралізація шкідливих речовин; поліпшення розумової та фізичної працездатності; очищення крові; терапія раку і
        далі.
        До протипоказань прийняття препаратів з алое вера відносять: індивідуальна непереносність — алергія; період
        вагітності або грудного вигодовування (рекомендується консультація з лікарем); кровотечі, не пов’язані з
        менструацією у жінок.
      </p>
    </div>
    <div class="col-12 col-xl-9 col-lg-9 col-md-9 mt-4">
      <b>Застосування амаранта в медицині</b>
    </div>
    <div class="col-12 col-xl-9 col-lg-9 col-md-9 mt-3">
      <p>Унікальний склад цієї рослини обумовлює широкий спектр застосування в
        народній медицині і косметології. Кровоспинні властивості амаранта успішно
        використовуються при надмірній менструальній і гемороїдальній кровотечі. М’яка
        спазмолітична і послаблююча дія амаранта обумовлює його застосування в
        лікуванні захворювань шлунково-кишкового тракту, запобігає закрепам.
        Завдяки високому вмісту в амаранті лізину, його успішно застосовують для
        нормалізації роботи м’язової тканини, у тому числі міокарду, для зміцнення
        імунітету.

        Фосфоліпіди амаранта благотворно впливають на стан центральної нервової
        системи, регулюють рівень цукру в крові. Ці речовини нормалізують жировий
        обмін, сприяють посиленню метаболізму, приводять вагу тіла у норму.
        Містить амарант стероли, що мають адаптивні властивості. Завдяки цим
        речовинам організм швидко пристосовується до фізичних навантажень.
      </p>
    </div>
  </div>
</div>
