<div class="container">
  <div class="row">
    <div class="col-12">
      <a routerLink="/list-items">На головну</a>
    </div>
  </div>
</div>

<div class="line"></div>
<h1>Статті та новини</h1>
<!-- <div class="line-50"></div> -->

<h5>Алое вера</h5>
<div class="container">
  <div class="row">
    <div class="col-12 col-xl-6 col-lg-6 col-md-6 mb-4">
      <img src="../../assets/images/aloe-vera-news.png" class="img-fluid">
    </div>
    <div
      class="col-12 col-xl-6 col-lg-6 col-md-6 text-center d-flex align-items-center justify-content-center  flex-column">
      <p>Алое вера використовується в медицині у вигляді 3 груп препаратів: сухий концентрований сік сабур, свіжий сік і
        препарати для тканинної терапії. Алое вера має бактерицидні та бактеріостатичні властивості, активний відносно
        груп мікробів: стафілокока, стрептокока, кишкової, дифтерійної паличок, шигел та сальмонел.</p>
      <button class="btn btn-success" routerLink="/aloe">Перейти до статті</button>
    </div>
  </div>
</div>

<h5>Амарант</h5>
<div class="container">
  <div class="row">
    <div class="col-12 col-xl-6 col-lg-6 col-md-6 mb-4">
      <img src="../../assets/images/amaranth-news.jpg" class="img-fluid">
    </div>
    <div
      class="col-12 col-xl-6 col-lg-6 col-md-6 text-center d-flex align-items-center justify-content-center flex-column">
      <p>Амарант — (лат. Amaranthus) або щириця, більше відома як декоративну рослина,
        для благоустрою садів і присадибних ділянок. Його лікувальні властивості майже
        не відомі в нашій країні. Проте рослина має ряд цінних властивостей, які з успіхом
        застосовуються в медицині.</p>
      <button class="btn btn-success" routerLink="/amarant">Перейти до статті</button>
    </div>
  </div>
</div>

<h5>Кропива</h5>
<div class="container">
  <div class="row">
    <div class="col-12 col-xl-6 col-lg-6 col-md-6 mb-4">
      <img src="../../assets/images/nettle-news.jpg" class="img-fluid">
    </div>
    <div
      class="col-12 col-xl-6 col-lg-6 col-md-6 text-center d-flex align-items-center justify-content-center flex-column">
      <p>У вигляді лікарської сировини у народній і традиційній медицині використовують
        усю рослину: корені або листя, іноді роблять суміш.</p>
      <button class="btn btn-success" routerLink="/nettle">Перейти до статті</button>
    </div>
  </div>
</div>
