<div class="container pb-3 link">
  <div class="row">
    <div class="col-12">
      <a routerLink="/list-items">На головну</a>
      <span>/</span>
      <a routerLink="/articles">Назад</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <h3>Кропива</h3>
    <div class="col-12 d-flex align-items-center justify-content-center">
      <img src="../../../assets/images/nettle.jpg" class="img-fluid">
    </div>
    <div class="col-12 col-xl-9 col-lg-9 col-md-9 mt-5">
      <p>Кропива - багаторічна трав&#39;яниста дводомна рослина з повзучим кореневищем.
        Стебла прямостоячі, чотиригранні, неветвістие, заввишки 60-170 см. Листки
        супротивні, черешкові, яйцевидно-ланцетні, по краю — крупнозубчасті, покриті
        пекучими волосками.
        Листя кропиви містять глікозид уртицин, дубильні речовини (до 2 %), каротиноїди,
        хлорофіл (до 5 %), вітаміни С, В2, В3, органічні кислоти, мікро- і макроелементи
        (кремній, залізо - 41 мг%, мідь - 1,3 мг%, марганець - 8,2 мг%, бор - 4,3 мг%, титан
        - 2,7 мг%, нікель - 0,03 мг%).
      </p>
      <p>Мають кровоспинну, діуретичну, жовчогінну, загальнозміцнювальну дію,
        нормалізують ліпідний обмін, сприяють регенерації слизових оболонок шлунково-
        кишкового тракту, збільшують кількість еритроцитів, нормалізують склад крові,
        зменшують вміст цукру в крові, справляють судинозвужувальну дію.</p>
    </div>
    <div class="col-12 col-xl-9 col-lg-9 col-md-9 mt-5">
      <p><b>Регіони проростання лікарської рослини</b></p>
      <p>Вінницька область, Житомирська область, Кіровоградська область, Полтавська
        область, Сумська область, Хмельницька область</p>
    </div>
    <div class="col-12 col-xl-9 col-lg-9 col-md-9 mt-5">
      <p>Для кропиви характерні пазухові, гіллясті суцвіття у вигляді переривчастих тонких
        колосків. Пластинки довші за черешки листків. Період цвітіння — з червня по
        вересень. Квітки дрібні із зеленуватим відтінком, одностатеві, зібрані у суцвіття у
        вигляді колосків у верхній частині стебла. Із серпня починає дозрівати насіння.
        Плід — жовтувато-сірий горішок, яйцевидний чи еліптичний.
      </p>
      <p>У вигляді лікарської сировини у народній і традиційній медицині використовують
        усю рослину: корені або листя, іноді роблять суміш.

        Збір кропиви продовжується з червня по серпень, коли рослина квітне. Роблять це
        лише за ясної сухої погоди, коли роса на рослині обсохне. Лікарську сировину не
        можна збирати в екологічно забрудненій місцевості: уздовж автошляхів, біля
        промислових підприємств, звалищ і т. д. Кропиву збирають у рукавичках, а якщо
        необхідно заготувати велику кількість — використовують садові ножиці, косу чи
        серп.</p>
    </div>
    <div class="col-12 mt-4 d-flex align-items-center justify-content-center">
      <img src="../../../assets/images/nettle-2.jpeg" class="img-fluid">
    </div>
    <div class="col-12 col-xl-9 col-lg-9 col-md-9 mt-5">
      <p>Висушене листя кропиви можна зберігати близько двох років. Спочатку, розклавши
        на папері чи тонкій тканині, кропиву сушать під навісом чи на горищі, оберігаючи
        від дії прямих сонячних променів (вони знищують корисні компоненти листя
        рослини). Можна використовувати сушарку при температурі 40—50 °С. Коли
        прожилки стають трухлявими, листя обривають.
        Кропиву можна використовувати у вигляді свіжовичавленого соку, а також у
        вигляді сухого порошку листя, робити настої, готувати відвари.
      </p>
      <p>У якості лікарської сировини найчастіше  використовують листя кропиви : у ньому
        міститься багато корисних речовин. У листі кропиви є аскорбінова кислота
        (сильний антиоксидант), вітаміни В1, В2, К, хлорофіл, глікозиди, каротин,
        мурашина та ферулова органічні кислоти.
        Листя кропиви у народній медицині допомагає у випадках нестачі або надлишку
        вітамінів (гіпо- та авітамінозі). Настій листя застосовують при ангіні у вигляді
        полоскань. Також він може застосовуватись як профілактичний засіб для
        порожнини рота, перш за все, для зміцнення ясен, лікування гінгівіту, пародонтиту,
        стоматиту. Листя кропиви застосовують при закрепах, геморої, діареї,
        захворюваннях печінки.
        З листя кропиви, висушеного чи свіжого, заварюють чай. Чай з
        кропивою сприяє підвищенню імунітету, допомагає у профілактиці простудних
        захворювань, полегшує симптоми артриту. Висушена кропива виявляє відмінну
        бактерицидну дію, тому порошком з неї присипають рани.
        Кропива у медицині часто використовується у випадку різних кровотеч, тому що
        вітамін К, який у ній міститься, підвищує вироблення протромбіну, що згортає кров.</p>
      <p>Корисні властивості кропиви допомагають у лікуванні ерозії шийки матки,
        атеросклерозу, холециститу. За допомогою кропиви лікують навіть хвороби
        дихальних шляхів: під впливом заліза, вітамінів, протеїну, хлорофілу підсилюється
        обмін білків та вуглеводів, що позитивно впливає на дихальну діяльність людини.
        Як профілактичний засіб відвар із цієї рослини корисний для покращення роботи
        серцево-судинної системи; улітку варену кропиву вживають для очищення крові.
        Вживання такого відвару допоможе знизити рівень цукру, нормалізувати обмін
        речовин, покращити згортання крові, гемоглобін, імунітет у цілому. Корисна
        кропива і мамам, що годують грудьми: вона підвищує лактацію. Компреси,
        ванночки з настою кропиви допомагають у лікуванні захворювань шкіри, опіків.
        Зовнішнє  застосування міцного настою кропиви  добре загоює рани. Для лікування
        проблемної шкіри — фурункулів та вугрів — настій із рослини застосовують з
        метою кровоочищення.</p>
    </div>

    <div class="col-12 col-xl-9 col-lg-9 col-md-9 mt-5">
      <h3>За матеріалами:</h3>
      <p>
        1. Мазнев Н. И. Золотая книга лекарственных растений / Н. И. Мазнев. — 15-е
        изд., доп. — М.: ООО «ИД РИПОЛ Классик», ООО Издательство «ДОМ. XXI век»,
        2008. — 621 с.
      </p>
      <p>
        2. Мазнев Н. И. Травник / Н. И. Мазнев. — М.: ООО «Гамма Пресс 2000», 2001. — 512 с. с илл.
      </p>
      <p>
        3. Товстуха Є. С. Фітотерапія / Є. С. Товстуха. — К.: Здоров'я, 1990. — 304 с., іл., 6,55 арк. іл.
      </p>
      <p>
        4. Чухно Т. Большая энциклопедия лекарственных растений / Т. Чухно. — М.: Эксмо, 2007. — 1024 с.
      </p>
      <p><i>Інформація надана з ознайомчою метою і не повинна бути використана для
        самолікування.</i></p>
    </div>
  </div>
</div>
