<div class="container">
  <div class="row">
    <div class="col-sm-12 main-content">
      <div class="heading-prod">
        <a routerLink="/list-items">Головна</a>
        <a class="slash" routerLink="/products">Дивитися все</a>
        <h3>Фізорм</h3>
      </div>
    </div>
  </div>
</div>

<div class="line"></div>
<div class="container pt-2" *ngFor="let product of products; let i=index;">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-xl-5 col-lg-5 d-flex align-items-center">
      <img *ngIf="product.id==4" [src]="product.imageUrl" class="img-fluid">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-xl-7 col-lg-7 d-flex flex-column" *ngIf="product.id==4">
      <p>Фізорм — засіб профілактично-гігієнічний, має антибактеріальну, протигрибкову,
        протизапальну, імуностимулюючу, регенеративну, анестезуючу, протипухлинну, адаптогенну дії.
      </p>
      <div class="row">
        <div class="col-12">
          <table>
            <tr>
              <td class=dots>
                <span class=content>Бренд:</span>
              </td>
              <td>
                <span class=content><a routerLink="/products">Еберс</a></span>
              </td>
            </tr>
            <tr>
              <td class=dots>
                <span class=content>Доступно:</span>
              </td>
              <td>
                <span class=content>Є в наявності</span>
              </td>
            </tr>
            <tr>
              <td class=dots>
                <span class=content>Кількість в упаковці:</span>
              </td>
              <td>
                <span class=content>5 засобів по 2 блістери у пачці</span>
              </td>
            </tr>
            <tr>
              <td class=dots>
                <span class=content>Упаковка на:</span>
              </td>
              <td>
                <span class=content>Не менше 10-15 діб</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="price-container">
        <p *ngIf="product.id==4">Вартість: <span class="price-big">{{ product.price }} грн.</span></p>
        <span class="text-success"><i class="fas fa-check"></i>Є в наявності</span>
      </div>
      <button *ngIf="product.id==4" mat-button color="primary" class="buy-button"
        (click)="cartService.addToCart(product)">До кошика</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Фізорм (Fizorm)</h1>
      <h6>Склад:</h6>
      <p>1 засіб профілактично-гігієнічний у вигляді конусу містить: Діючі речовини: екстракт кропиви – 100мг,
        екстракт гарбуза – 150мг, прополіс – 150мг, екстракт туї – 100мг, екстракт толокнянки – 100мг . Допоміжні
        речовини : Полiетиленглiколь 400, Полiетиленглiколь 1500.</p>
      <h6>Форма:</h6>
      <p>Засоби профілактично-гігієнічні у вигляді конусу</p>
      <h6>Властивості:</h6>
      <p>Фізорм — засіб профілактично-гігієнічний, має антибактеріальну, протигрибкову,
        протизапальну, імуностимулюючу, регенеративну, анестезуючу, протипухлинну, адаптогенну дії.</p>
      <h6>Кропива</h6>
      <p>Має кровоспинну дію, підвищує тонус, зменшує крововтрати, прискорює згортання крові, підвищує
        вміст гемоглобіну, тромбоцитів і еритроцитів в периферичній крові. Володіє судинозвужуючою, жовчогінною,
        вітамінізуючою, сечогінною та протизапальною дією, підвищує процеси регенерації слизових оболонок.</p>
      <h6>Гарбуз</h6>
      <p>Має протизапальну, ранозагоювальну, антитоксичну, жовчогінну, сечогінну, антисклеротичну дію.
        Підсилює виділення хлоридів з організму і фільтраційну функцію нирок, підвищує діурез, не надаючи
        дратівливого впливу на ниркову тканину. Впливає на механізм сечовипускання, та є цілющим засобом
        необхідним для нормального функціонування слизових оболонок і епітелію шкіри. Пектин який є в гарбузові
        володіє сорбируючими властивостями, прискорює виведення бактерій і їх токсинів, попереджає зневоднення,
        активізує епітелізацію пошкоджених тканин (виразок), захищає слизову оболонку шлунково-кишкового тракту
        від шкідливого впливу токсичних речовин. Прополіс володіє широким спектром антибактеріальної,
        противірусної, протигрибкової дії, виявляє виражену протизапальну, ранозагоювальну, знеболюючу,
        імуностимулюючу, тонізуючу дію. Туя має ряд властивостей, таких як цитостатичну, противірусну,
        протиалергічну, тонізуючу, протизапальну, кровоспинну, антимікробну, ранозагоювальну, зміцнює імунітет.
        Підвищує лібідо і входить до складу ряду афродизіаків, тому його рекомендують застосовувати при статевому
        безсиллі у чоловіків і фригідності у жінок. Толокнянку застосовують при захворюваннях сечовидільної
        системи: цистит, піелоніфріт, уретрит, простатит і сечокам&#39;яної хвороби.</p>
      <h6>Рекомендації до застосування:</h6>
      <p>Засіб Фізорм використовується за рекомендацією лікаря як профілактично-гігієнічний засіб при гострих і
        хронічних простатитах, обумовлених різними видами інфекції, доброякісній гіпертрофії простати, везикулітом,
        уретритах, еректильної дисфункції, цистит, уретрит, профілактика запальних процесів, імпотенція, поліпшення
        мікроциркуляції слизової оболонки прямої кишки , зміцнення чоловічої сили, бактерицидними, антисептичними
        властивостями, що призводять до зменшення набряку передміхурової залози і зменшення затримки сечі.</p>
      <p>Засіб Гілурон використовується за рекомендацією лікаря як профілактично-гігієнічний засіб при
        тривалому застосуванні глюкокортикостероїдів, антибіотиків, після відвідування басейну або сауни,
        при фізіологічній схильності до запальних процесів; у випадках травмування слизової оболонки
        піхви; для відновлення слизової оболонки при запальних процесах (бактеріальний вагіноз,
        неспецифічний кольпіт); при атрофічних і дистрофічних кольпітах; псевдо ерозії шийки матки; після
        агресивних методів лікування (діатермокоагуляції, лазерної терапії і кріотерапії шийки матки або
        піхви, аборту, введення сторонніх предметів), після вагінальних операцій з приводу випадання
        стінок піхви, шийки та тіла матки, неспроможності тазового дна;
        як підтримуючий засіб при сухості слизової оболонки піхви у жінок в період менопаузи.</p>
      <h6>Спосіб застосування та рекомендована добова доза:</h6>
      <p>Використовується за рекомендацією лікаря.
        Використовувати 1-2 рази на добу. Вводити в анальний отвір в положенні лежачи на спині. Тривалість
        використання індивідуальна, не менше 10-15 діб.</p>
      <h6>Протипоказання:</h6>
      <p>Індивідуальна підвищена чутливість до компонентів засобу.</p>
      <h6>Термін придатності:</h6>
      <p>2 роки. Не застосовувати після закінчення терміну придатності. Номером
        серії вважати дату виробництва.</p>
      <h6>Умови зберігання:</h6>
      <p>Зберігати у не доступному для дітей місці в оригінальній упаковці при температурі не вище 25 °С.</p>
      <h6>Упаковка:</h6>
      <p>По 5 профілактично-гігієнічних засобів у блістері, по 2 блістери у пачці. Лист - вкладиш</p>
      <h6>Категорія відпуску:</h6>
      <p>Без рецепта.</p>
      <h6>Виробник:</h6>
      <p>ПП «Еберс», Україна, м. Харків, пров. Іванівський 5, корп. Г-2</p>
      <h6>Інформація про реєстрацію:</h6>
      <p>Висновок державної санітарно-епідеміологічної експертизи № 602-
        123-20-1/6087 від 25.03.2019 р (UA)</p>
    </div>
  </div>
</div>
