<div class="list-items-bg">
  <div class="slider">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <div *ngIf="slide.id==1" class="one-slide" class="img-fluid slide-img-1"
          [ngStyle]="{ 'background-image': 'url(' + slide.img + ')'}">
          <div class="slider-text">
            <p>Препарати компанії Еберс-</p>
            <p>це комплексне та ефективне піклування про здоров'я</p>
          </div>
        </div>
        <div *ngIf="slide.id==2" class="sec-slide" class="img-fluid slide-img-2"
          [ngStyle]="{ 'background-image': 'url(' + slide.img + ')'}">
          <div class="slider-text">
            <p style="color:black;">Головне в розробці рецептур компанії Еберс-</p>
            <p>це баланс, та оптимальний склад препаратів для збереження здоров'я</p>
          </div>
        </div>
        <div *ngIf="slide.id==3" class="third-slide" class="img-fluid slide-img-3"
          [ngStyle]="{ 'background-image': 'url(' + slide.img + ')'}">
          <div class="slider-text">
            <p>Взаємодія лікаря та пацієнта-</p>
            <p>успіх в лікуванні</p>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 main-content">
          <div class="heading-prod">
            <i class="fas fa-mortar-pestle fa-3x mortar"></i>
            <h3>Продукція</h3>
            <a routerLink="/products">Дивитися все</a>
          </div>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3" *ngFor="let product of products">
          <div class="card-product">
            <a matTooltip="Перейти" *ngIf="product.id==1" routerLink="/giluron"><img [src]="product.imageUrl"
                class="img-fluid"></a>
            <a matTooltip="Перейти" *ngIf="product.id==2" routerLink="/normera"><img [src]="product.imageUrl"
                class="img-fluid"></a>
            <a matTooltip="Перейти" *ngIf="product.id==3" routerLink="/regexin"><img [src]="product.imageUrl"
                class="img-fluid"></a>
            <a matTooltip="Перейти" *ngIf="product.id==4" routerLink="/fizorm"><img [src]="product.imageUrl"
                class="img-fluid"></a>
            <div class="raiting">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="links-container">
              <a matTooltip="Перейти" *ngIf="product.id==1" routerLink="/giluron"
                class="name-of-product">{{product.name}}</a>
              <a matTooltip="Перейти" *ngIf="product.id==2" routerLink="/normera"
                class="name-of-product">{{product.name}}</a>
              <a matTooltip="Перейти" *ngIf="product.id==3" routerLink="/regexin"
                class="name-of-product">{{product.name}}</a>
              <a matTooltip="Перейти" *ngIf="product.id==4" routerLink="/fizorm"
                class="name-of-product">{{product.name}}</a>
            </div>
            <div class="price-wrap">
              <p class="product-price"><span></span>{{product.price}}грн</p>
              <button mat-button color="primary" class="buy-button" (click)="cardService.addToCart(product)">До
                кошика</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>




<div class="container pt-5 pb-5 why-us">
  <h1>Наші переваги</h1>
  <div class="row pt-4">
    <div class="col-12 col-md-6 col-xl-3 col-lg-3 d-flex flex-column align-items-center col-why">
      <img src="../../assets/images/deal.svg" class="img-fluid">
      <p>Відповідальне ставлення</p>
      <p>до кожного клієнта</p>
    </div>
    <div class="col-12 col-md-6 col-xl-3 col-lg-3 d-flex flex-column align-items-center col-why">
      <img src="../../assets/images/pharmacy.svg" class="img-fluid">
      <p>Контроль на всіх етапах</p>
      <p>виробництва</p>
    </div>
    <div class="col-12 col-md-6 col-xl-3 col-lg-3 d-flex flex-column align-items-center col-why">
      <img src="../../assets/images/cross.svg" class="img-fluid">
      <p>Якісна європейська та</p>
      <p>українська сировина</p>
    </div>
    <div class="col-12 col-md-6 col-xl-3 col-lg-3 d-flex flex-column align-items-center col-why">
      <img src="../../assets/images/tools-and-utensils.svg" class="img-fluid">
      <p>Лише ефективний та</p>
      <p>збалансований склад</p>
    </div>
  </div>
</div>

