* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

.slider {
  margin-top: 20px;
  overflow: hidden;
}

.slide-img-1, .slide-img-2, .slide-img-3 {
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
}


.slider-text {
  position: absolute;
  top: 50%;
}

.slider-text p {
  padding-left: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  max-width: 70%;
  text-align: center;
}

.slider-text p:first-child {
  font-weight: bold;
  line-height: 1.3;
}

/* .list-items-bg {
  background-image: url(/../assets/images/list-items-bg.jpg);
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
} */

/* .list-items-bg {
  position: relative;
}

.list-items-bg::after {
  content: "";
  background: url(/../assets/images/list-items-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */


.mortar {
  
  margin-right: 12px;
  background-color: #fff;
  color: rgb(114, 145, 211);
}

.name-of-product {
  font-size: 15px;
  font-weight: 600;
  transition: all .3s;
}

.links-container a:hover {
  color: red;
}

.heading-prod {
  position: relative;
  z-index: 2;
  padding-top: 15px;
}

.heading-prod::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 1px solid rgba(142, 227, 193, 1);
  z-index: -1;
}

.heading-prod h3 {
  margin: 0;
  display: inline-block;
  font-size: 21px;
  font-weight: 500;
  background-color: white;
}

.heading-prod a {
  padding: 0 10px;
  color: #1660C9;
  transition: all .3s;
  background-color: white;
}

.heading-prod a::before {
  padding: 0 5px 0 0;
  color: #ccc;
  content: "/\00a0";
}

.heading-prod a:hover {
  color: red;
}

.card-product {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  border-radius: 2px;
  transition: all .4s;
}

.raiting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  color: goldenrod;
}

.card-product:hover {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}

.card-product a {
  color: #1660C9;
}

.product-price {
  color: red;
  text-align: center;
}

.price-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.price-wrap button {
  margin-left: 7px;
  border: 1px solid;
  transition: all .3s;
  padding: 0 5px;
}

.price-wrap button:hover {
  color: green;
}

.price-wrap button:focus {
  outline: none;
}

.why-us {
  font-family: 'Montserrat', sans-serif;
}

.why-us h1 {
  text-align: center;
  font-size: 2rem;
  color: #232323;
  font-weight: 400;
  line-height: 1;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 20px;
}

.col-why {
  margin: 20px 0;
}


.col-why h6 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 15px;
}

.col-why img {
  max-width: 55%;
  margin-bottom: 12px;
}



@media  (max-width: 600px) {
  .slide-img-1 {
    background-position: right 15% bottom 45%;
    background-repeat: no-repeat;
  }

  /* .slide-img-2 {
    background-position: right 3% bottom 45%;
    background-repeat: no-repeat;
  } */

  .slider-text {
    top: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: initial;
    padding-top: 25px;
  }

  .slider-text p {
    padding-left: 0;
  }
}