* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-delivery {
    padding: 20px 20px;
}

.delivery-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid gray;
}

.delivery-links a {
  margin-right: 15px;
  font-size: 20px;
  position: relative;
  transition: all .3s;
}

.delivery-links a:hover {
  text-decoration: none;
  color: red;
}

.delivery-links a::after {
  margin-left: 15px;
  color: #ccc;
  font-size: 20px;
  content: "/\00a0";
}

.delivery-links p {
  margin-right: 15px;
  font-size: 25px;
}

