<div class="container-delivery">
  <div class="delivery-links">
    <a routerLink="/list-items">Головна</a>
    <p>Гарантії від Магазину Ебрес</p>
    <hr>
  </div>
</div>


<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-12">
      <p>Згідно розпорядження директора ТОВ Еберс , якщо з якихось причин вам не сподобався товар при отриманні, ви
        можете відмовитись від нього і ми повертаємо кошти на рахунок з якого їх було сплачено протягом двох банківських
        днів. Також, якщо ви не отримали результат від рекомендованого курсу прийому наших препаратів, ми також
        повертаємо вам кошти протягом двох банківських днів після подання заяви.</p>
    </div>
  </div>
</div>
