/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

* {
  font-family: 'Open Sans', sans-serif;
}


.slick-slide img {
  height: 100%;
}

.slick-list:focus {
  outline: none!important;
}

.slick-list {
  outline: none!important;
}

@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    
    src:  url('../node_modules/slick-carousel/slick/fonts/slick.woff') format('woff'), url('../node_modules/slick-carousel/slick/fonts/slick.ttf') format('truetype'), url('../node_modules/slick-carousel/slick/fonts/slick.svg') format('svg');
}